.container {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.Container-darkMode {
  background-color: black;
  color: white;
}

.Container-lightMode {
  background-color: orange;
  color: blue;
}
